---
layout: default
title: Home
---

<!-- layout: page
<section class="pa3 tc">
    <img src="assets/svg/avatar/avatar.svg" class="br-100 h5-l w5-l h4 w4 dib ba b--black-05 pa2" title="Kevin Alama Photo">
    <h1 class="f1-l f2 mb2">Kevin Alama</h1>
    <h3 class="f4 fw4 gray mt0"><i>Software Developer from Perú</i></h3>
    <h5 class="f5 fw4 gray mt0 ml7-l mr7-l">Computer Science Bachellor at <a href="http://inf.unitru.edu.pe/" class="link">UNT</a>. I like programming in different technologies, everyday I try to learn something new. My favourite programming language is C++ and currently code in C#/.NET and PHP/Laravel.</h5>
    {% include social-media-links.html %}
</section>
 -->

<div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>
  
      <span class="post-date">{{ post.date | date_to_string }}</span>
  
      {{ post.content }}
    </div>
    {% endfor %}
  </div>
  
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
      {% else %}
        <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
      {% endif %}
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  </div>